h1 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
}

option, .form-select {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
}

.form-control:focus, select:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
} 